.param-view {
  height: 60vh;
  /* background-color: firebrick; */
}

.param-chart {
  height: 100%;
  background-color: black;
  display: flex;
  overflow-x: auto;
  /* Internet Explorer 10+ */
  /* -ms-overflow-style: none; */
  /* Firefox */ 
  /* scrollbar-width: none;  */
}

.card--content {
  background-color: yellow;
  /* background-color: #e74c3c; */
  /* min-width: 200px; */
  width: 150px;
  margin: 0px;
}

.card-content-pause {
  background-color: lightpink;
  width: 45px;
  margin: 0px;
}

.param-chart::-webkit-scrollbar {
  display: none;
}

.test {
  background-color: white;
}

.checkbox-orange[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #ff9800;
  background-color: #ff9800;
}

.checkbox-purple[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid purple;
  background-color: purple;
}

.checkbox-green[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid green;
  background-color: green;
}

.checkbox-red[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #ff3d00;
  background-color: #ff3d00;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

.pause-panel {
  cursor: e-resize;
}

.btn-file {
  position: relative;
  overflow: hidden;
  /* cursor: pointer; */
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  /* cursor: pointer; */
  display: block;
}